<!DOCTYPE html>
<html>
<head>
    <title>Вік недостатній</title>
</head>
<body>
    <h2>Вибачте, ви повинні бути старшими за 16 років для замовлення.</h2>
    <a href="/Order/Register">Спробуйте знову</a>
</body>
</html>
